{% extends 'layouts/base-fullscreen.html' %}
{% load static %}

{% block title %} Main Page {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}
{% load static %}
{% block content %}
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation.html" %}

      </div>
    </div>
  </div>
  <header class="header-2">
    <div class="page-header section-height-75 relative"
         style="background-image: url({% static 'img/curved-images/curved.jpg' %})">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">
              Tasks Manager
            </h1>
            <p class="lead text-white mt-3">
              <br/>
              Platform for managing IT projects
            </p>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"/>
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"/>
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"/>
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"/>
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"/>
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"/>
          </g>
        </svg>
      </div>
    </div>
  </header>
  {% if user.is_authenticated %}
    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center text-color-index">
                  <h1 class="text-gradient text-primary"><span>{{ user.tasks.count }}</span></h1>
                  <h5 class="mt-3" id="text-color-index">All tasks</h5>
                  <p class="text-sm text-black-50">This is a count of all your tasks</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary"><span>{{ unsolved_tasks }}</span></h1>
                  <h5 class="mt-3" id="text-color-index">Unsolved tasks</h5>
                  <p class="text-sm text-black-50">Count of tasks that have not been completed</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary">{{ solved_tasks }}</h1>
                  <h5 class="mt-3" id="text-color-index">Solved tasks</h5>
                  <p class="text-sm text-black-50">Count of tasks already completed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="w-30 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
            <h2 class="text-gradient text-primary text-center"><span>To continue, you need to sign in</span></h2>
            <div class="text-center">
              <a class="btn btn-primary" href="{% url 'login' %}">SIGN IN</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% include 'includes/footer.html' %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}
