{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
  <div class="container position-sticky z-index-sticky top-1">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation.html" %}

      </div>
    </div>
  </div>
  <div class="back-nav"></div>
  <div class="create-task">
    <a class="btn btn-sm btn-round bg-gradient-dark task-button mb-0 me-1" href="{% url 'task_manager:create-task' %}">
      Create task
    </a>
  </div>
  <section class="section-width">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Task table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              {% if tables %}
                <table class="table align-items-center mb-0">
                  <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Task name
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                      Description
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Deadline
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      is_completed
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      priority
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      task_type
                    </th>
                  </tr>
                  </thead>
                  {% for table in tables %}
                    <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ table.name|slice:":40" }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs text-secondary mb-0">
                          {{ table.description|slice:":40" }}
                        </p>
                      </td>
                      <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                {{ table.deadline|date:"d - M - Y" }}
                                            </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                                            <span class="
                                                badge
                                                badge-sm
                                            {% if table.is_completed %}
                                                bg-gradient-success
                                            {% else %}
                                                bg-gradient-danger
                                            {% endif %}"
                                            >
                                                {{ table.is_completed }}
                                            </span>
                      </td>
                      <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                {{ table.priority }}
                                            </span>
                      </td>
                      <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                {{ table.task_type }}
                                            </span>
                      </td>
                    </tr>
                    </tbody>
                  {% endfor %}
                </table>
              {% else %}
                <div class="card-header pb-0">
                  <h6>You don't have any tasks</h6>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}