{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation.html" %}

      </div>
    </div>
  </div>
  <div class="back-nav"></div>
  <div class="d-flex mt-3 mb-5 justify-content-between">
    <form action="" method="get" class="search">
      <div>
        {{ form_search.search_field }}
        <input class="btn btn-success bg-gradient-success mb-0" type="submit" value="Search">
      </div>
    </form>
    <div class="create-task">
      <a class="btn btn-success btn-round bg-gradient-danger button-task"
         href="{% url 'task_manager:create-task' %}">
        Create New task
      </a>
    </div>
  </div>
  <section class="section-width">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Task table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              {% if tables %}
                <table class="table align-items-center mb-0">
                  <thead>
                  <tr>
                    <th class="text-uppercase text-info text-sm font-weight-bolder">
                      Task name
                    </th>
                    <th class="text-uppercase text-info text-sm font-weight-bolderps-2">
                      Description
                    </th>
                    <th class="text-center text-uppercase text-info text-sm font-weight-bolder">
                      Deadline
                    </th>
                    <th class="text-center text-uppercase text-info text-sm font-weight-bolder">
                      is_completed
                    </th>
                    <th class="text-center text-uppercase text-info text-sm font-weight-bolder">
                      priority
                    </th>
                    <th class="text-center text-uppercase text-info text-sm font-weight-bolder">
                      task_type
                    </th>
                    <th class="text-center text-uppercase text-info text-sm font-weight-bolder">
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for table in tables %}
                    <tr style="background-color: {{ table.task_type.color }}">
                      <td class="max-width-200">
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ table.name|slice:":40" }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="max-width-200">
                        <p class="text-sm text-secondary mb-0">
                          {{ table.description|slice:":40" }}
                        </p>
                      </td>
                      <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                {{ table.deadline|date:"d - M - Y" }}
                                            </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                                            <span class="
                                                badge
                                                badge-sm
                                            {% if table.is_completed %}
                                                bg-gradient-success
                                            {% else %}
                                                bg-gradient-danger
                                            {% endif %}"
                                            >
                                                {{ table.is_completed }}
                                            </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                            {{ table.priority }}
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                            {{ table.task_type }}
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <a class="link-info btn bg-gradient-dark" href="{% url 'task_manager:detail-task' table.pk %}">Show
                          More</a>
                      </td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <div class="card-header pb-0">
                  <h6>No tasks found</h6>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          {% include 'includes/paginate.html' %}
        </div>

      </div>
    </div>
  </section>
{% endblock %}